@font-face {
    font-family: GT America Standard;
    src: url("./assets/fonts/GT\ America\ Standard/GT-America-Standard-Regular-Trial.otf") format("opentype");
}

body{
    font-family: "GT America Standard";
}