*{
    margin: 0;
    padding: 0;
}


body{
    height: 100vh;
    background-color: hsl(0, 0%, 8%);
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 14px;
    font-weight: 700;
}

a{
    text-decoration: none;
}

.card-name{
    font-size: 22px;
}

.card-name, .card-location{
    font-weight: 600;
}

.card-bio{
    font-weight: 400;
}

.card-location{
    margin-top: 4px;
    color: hsl(75, 94%, 57%);
}

.card-bio{
    margin-bottom: 4px;
}

.card-n-l{
    margin: 12px 0;
}

.social-link a{
    color: #ffffff;
    width: 100%;
}

.card-profile-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    background-color: hsl(0, 0%, 12%);
    width: 310px;
    height: 448px;
    padding: 28px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-link{
    background-color: hsl(0, 0%, 20%);
    width: 100%;
    margin-top: 15px;
    padding: 12px 48px;
    cursor: pointer;
}

.social-link:last-child{
    margin-bottom: 10px;
}

.social-link:hover{
    color: hsl(0, 0%, 8%);
    background-color: hsl(75, 94%, 57%);
}

.card, .social-link{
    border-radius: 10px;
}

.attribution{
    font-size: 11px;
    text-align: center;
    margin-top: 12px;
    line-height: 20px;
}
.attribution a{
    color: hsl(228, 45%, 44%);
}

.attribution a:hover{
    color: hsl(75, 94%, 57%);
}

.profile-img{
    border-radius: 50%;
    height: 80px;
}

@media screen and (max-width: 480px) {
    .card{
        width: 260px;
        height: 420px;
        padding: 24px 20px;
    }

    .social-link{
        padding: 12px 42px;
    }

    .profile-img{
        height: 64px;
    }

    .card-name{
        font-size: 16px;
    }

    p{
        font-size: 12px;
    }
}