:root{
    --clr-primary: hsl(234, 29%, 20%);
    --clr-secondary: hsl(235, 18%, 26%);
    --clr-muted: hsl(0, 0%,58%);
    --font-main: "Roboto", sans-serif;
    --font-bold: 700;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* text styles */

.text{
    color: var(--clr-secondary);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: #fff;
    margin: 8px 0;
}

.success__card h1{
    margin: 40px 0 20px;
    font-size: 40px;
}

.success__card p{
    line-height: 24px;
}

.card__lists li{
    list-style-type: none;
}

.card__lists img{
    margin-right: 16px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.bold, .btn{
    font-weight: var(--font-bold);
}

/* web/component layout/style */
body{
    font-family: var(--font-main);
    background-color: var(--clr-primary);
    color: var(--clr-primary);
    height: 100vh;
}

.sign-up__card{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.card__form{
    height: 60vh;
    padding: 0 20px;
}

.success__card{
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.btn{
    color: #fff;
    background-color: var(--clr-primary);
    height: 3rem;
    border: none;
    border-radius: 8px;
    margin-top: auto;
    cursor: pointer;
}

.card__img-wrapper{
    order: -1;
}

.success__card__img{
    height: 3.75rem;
    align-self: baseline;
}

.hidden{
    display: none;
}

.card__img-wrapper img, .card__form input, .btn{
    width: 100%;

}