:root{
    --clr-primary: hsl(234, 29%, 20%);
    --clr-secondary: hsl(235, 18%, 26%);
    --clr-muted: hsl(0, 0%,58%);
    --clr-active: hsl(4, 100%, 67%);
    --font-main: "Roboto", sans-serif;
    --font-bold: 700;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* text styles */

.text{
    color: var(--clr-secondary);
}

.card__title{
    font-size: 40px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: #fff;
    margin: 8px 0;
}

.success__card h1{
    margin: 40px 0 20px;
    font-size: 40px;
}

.success__card p{
    line-height: 24px;
}

.card__list img{
    margin-right: 16px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.card__form__content p{
    font-size: 13px;
    margin-bottom: 12px;
}

.bold, .btn{
    font-weight: var(--font-bold);
}

/* web/component layout/style */
body{
    font-family: var(--font-main);
    background-color: var(--clr-primary);
    color: var(--clr-primary);
    height: 100vh;
}

.sign-up__card{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.card__form{
    height: 96vh;
    padding: 0 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__form__txtcontent{
    height: 52vh;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__lists{
    display: flex;
    flex-direction: column;
}

.card__list{
    display: flex;
    align-items: flex-start;
    margin-top: 16px;
}

.card__form__content{
    height: 28vh;
    display: flex;
    flex-direction: column;
}

.success__card{
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.btn{
    color: #fff;
    background-color: var(--clr-primary);
    height: 3rem;
    border: none;
    border-radius: 8px;
    margin-top: auto;
    cursor: pointer;
}

.card__img-wrapper{
    order: -1;
}

.success__card__img{
    height: 3.75rem;
    align-self: baseline;
}

.hidden{
    display: none;
}

.card__form input{
    height: 3rem;
    border-radius: 8px;
    border: 1px solid var(--clr-muted);
    padding: 0 20px;
    font-size: 16px;
    opacity: 0.8;
}

.card__img-wrapper img, .card__form input, .btn{
    width: 100%;
}

.btn:hover{
    background-color: var(--clr-active);
}

.card__form input:focus{
    outline: none;
    border: 1px solid;
    opacity: 1.0;
}

.card__list:first-child{
    margin-top: 0;
}

@media screen and (min-width: 768px){
    /* text styles */
    .card__title{
       font-size: 44px;
    }

    .card__list p{
        font-size: 0.93rem;
    }

    /* web/component layout/style */
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sign-up__card{
        flex-direction: row;
        border-radius: 8px;
        width: 720px;
        height: 480px;
        padding-bottom: 0;
        border-radius: 20px;
    }

    .card__form{
        height: 100%;
        padding: 20px 32px;
        width: 50%;
    }

    .card__form__txtcontent{
        height: 40vh;
    }

    .card__form__content{
        height: 24vh;
    }

    .card__img-wrapper{
        order: 1;
        padding: 16px;
        width: 50%;
        margin-left: auto;
    }

    .card__img-wrapper img{
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
    }

    .card__form__content .btn{
        margin: auto;
    }
    
}